@tailwind base;
@tailwind components;
@tailwind utilities;

.top_nav a.active {
  @apply relative;
  
}

.top_nav a.active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 2px;
  background-color: white;
}